/* Background and Container Styles */

@keyframes shrinkHeight {
  to {
    height: 50vh;
  }
}
@media (max-width: 500px) {
  .main-cont {
    animation: shrinkHeight 1s ease-in-out 3s forwards;
  }
}

.main-cont {
  height: 100vh;
}

.container {
  animation: slide 0.5s ease-in-out 2s forwards;
}

/* Animation Classes */
.create,
.maintain,
.dot,
.transform {
  filter: blur(10px);
  opacity: 0;
}

.create {
  animation: fadeFocus 0.7s linear forwards, fadeIn 0.7s linear forwards;
}

.maintain {
  animation: fadeFocus 0.7s linear 0.7s forwards,
    fadeIn 0.7s 0.7s linear forwards;
}

.transform {
  animation: fadeFocus 0.7s linear 1s forwards, fadeIn 0.7s 1s linear forwards;
}

.dot {
  animation: fadeFocus 0.7s ease-out 1.4s forwards,
    fadeIn 0.7s 1.4s ease-out forwards;
}

.box {
  opacity: 0;
  animation: fadeIn 0.8s 2s linear forwards;
}

/* Wave Animation Class */
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: 9;
  transform-origin: 70% 70%;
  display: inline-block;
}

/* Keyframes Definitions */
@keyframes fadeFocus {
  to {
    filter: blur(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
